

<mat-card class="example-card bg-dark" cdkDragBoundary=".droppeableMain" cdkDrag>
    <div class="d-flex justify-content-between">
        <div>
            <span class="material-icons">
                menu
                </span>                
        </div>
        <div>
            <mat-card-title>casa</mat-card-title>
        </div>
        <div>
            <span class="material-icons">
                expand_less
                </span>
            <span class="material-icons">
                fullscreen
            </span>
            <span class="material-icons">
                close
                </span>
        </div>
    </div>
    <mat-card-content class=" d-flex justify-content-center">
        <ng-container [ngTemplateOutlet]='templateRef'></ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>