<div  class="d-flex bg-primary container-xxl">
  <ul class="nav flex-column col-1 bg-secondary vh-100">
    <li class="nav-item d-flex justify-content-center">
      <a class="nav-link active text-dark" aria-current="page" routerLink="/calc">
          calc
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-dark" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled text-dark" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <div ngClass="d-flex droppeableMain w-100">
    <router-outlet></router-outlet>
  </div>
</div>

